/app/tmp
/app/Config
/app/webroot/gamefiles
/app/webroot/images/game/*
/app/webroot/images/avatar
/app/webroot/images/mediapool
/app/webroot/images/news
/app/webroot/music
/app/webroot/video
!/build
/plugins
/vendors
.DS_Store
tags
Thumbs.db
