#nav { height: 32px; background-color: #142E44; width: 100%; }

#nav, #nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	color: #fff; 
	z-index: 10;
}

#nav a {
	display: block;
	padding: 10px 15px;
/*	width: 8em;*/
	text-decoration: none;
	color: #fff;
}

#nav a:hover {
	background-color: #1a3d5a;
}

#nav li { /* all list items */
	float: left;
	/*width: 8em; *//* width needed or else Opera goes nuts */
	//text-indent: 10px;
	/*text-align: center;*/
}

#nav li ul { /* second-level lists */
	position: absolute;
	background-color:#1a3d5a;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}
#nav li ul li a { text-indent: 10px; width: 12em; text-align: left; }
#nav li ul { width: 14.5em; }

#nav li ul li a:hover { background-color: #142E44; color: #fff;  }

#nav li ul ul { /* third-and-above-level lists */
	margin: -1em 0 0 10em;
}

#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

#nav #current { background-color: #1a3d5a; }